
#sideNav ul {
    padding-left: 20px; /* Adjust the value as needed */
}

#sideNav li {
    margin-bottom: 10px; /* Adjust the value as needed */
}
#projects{
    padding: 10px;
}
#AboutMe{
    padding: 10px;
}
img{
    float: right;
}
.gif{
    float: right;
    max-width: 180px;
    padding-top: 20px;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
    gap: 20px; /* Adjust the gap between grid items */
    padding: 20px; /* Add padding to the container as needed */
}

.grid-item {
    /* Add styling for your text items */
    padding: 15px;
    border: 1px solid #ccc;
}
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; /* Single column layout on smaller screens */
    }
}
